table.list td {
  height: 40px;
}

table.list td.priority,table.list td.status {
  position:relative;
}

table.list td.priority span,table.list td.status span {
  display: block;
  position: absolute;
  width: 90%;
  height: 20px;
  line-height: 20px;
  top: 50%;
  border-radius: 10px;
  transform: translateY(-50%);
}

table.list td.priority .lv1 {
  color: #b91c1c;
  background: #fee2e2;
}

table.list td.priority .lv2 {
  color: #b45309;
  background: #fef3c7;
}

table.list td.priority .lv3 {
  color: #fff;
  background: #909399;
}


table.list td.status .lv1 {
  color: #047857;
    background: #d1fae5;
}

table.list td.status .lv2 {
  color: #409eff;
  background: #ecf5ff;
}

table.list td.status .lv3 {
  color: #909399;
  background: #f4f4f4;
}

