table.list td {
  height: 40px;
}

table.list td.priority {
  position:relative;
}

table.list td.priority span {
    display: block;
    position: absolute;
    width: 80%;
    height: 20px;
    top: 50%;
    border-radius: 10px;
    transform: translateY(-50%);
}

table.list td.priority.lv1 {
  color: #b91c1c;
  background: #fee2e2;
}

table.list td.priority.lv2 {
  color: #b45309;
  background: #fef3c7;
}

table.list td.priority.lv3 {
  color: #fff;
  background: #909399;
}
