table.list td {
  height: 40px;
}

table.list td.priority {
  /* background: rgba(185,28,28,0.1); */
  color: rgb(185,28,28);
  position:relative;
}

table.list td.priority:before {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  background: rgba(185,28,28,0.1);
  /* color: rgb(185,28,28) */
}
